body{
    margin: 0px;
    padding: 0px;

}
.container{
    padding-top:30px;
    display:flex;
    justify-content: center;
    align-items: center;

    
}
.calculator-body{
    background-color: rgb(7, 7, 7);
    width:350px;
    height:600px;
    border-radius: 30px;
}
.sub-body{
    padding:15px;
}
.display{
    background-color: rgb(1, 1, 1);
    padding:50px 10px 10px 50px;
    border-radius: 30px;
    
}
.inputfield{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.white-btn{
    width:70px;
    height:70px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 30px;
    background-color: #d7cfb8;
    border:none;
    cursor: pointer;
}
.white-btn:hover{
    background-color: #a0a09e;
    
     
}
.orange-btn{
    width:70px;
    height:70px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 30px;
    background-color:#f5ad1d ;
    border:none;
    color:#f0f8ff
}
.orange-btn:hover{
    background-color: #db8318;

}
.first-row{
    padding-top:10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.second-row{
    padding-top:10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.gray-btn{
    width:70px;
    height:70px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 30px;
    background-color: #636262;
    color:#f0f8ff;
    border:none;
}
.gray-btn:hover{
    background-color: #c4c4c2d8;
}
.third-row{
    padding-top:10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.fourth-row{
    padding-top:10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.fifth-row{
    padding-top:10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.gray-btn-big{
    width:150px;
    height:70px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 30px;
    background-color: #636262;
    color:#f0f8ff;
    border:none;
}
.gray-btn-big:hover{
    background-color: #c4c4c2d8;
}
#screen-bottom{
    color: white;
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content:flex-end;
    align-items:end;
    background-color: black;
}
#screen-top{
    color: white;
    font-size: 0px;
    display: flex;
    justify-content:flex-end;
    align-items:end;
    background-color: black;
    
}